<h1>Add Product</h1>
<br><br>

<form  method="POST" action="/add">

    <label>Proudct Title</label>
    <input type="text" name="title"><br><br>

    <label>Proudct price</label>
    <input type="number" name="price"><br><br>

    <label>Quantitly on Hand</label>
    <input type="number" name="quantitly"><br><br>

    <label>Proudct Description</label>
    <textarea name="description"></textarea><br><br>

    <label>Taxable Item</label>
    <label>Yes</label>
    <input type="radio" name="taxable" value="TRUE">
    <label>No</label>
    <input type="radio" name="taxable" value="FALSE"><br><br>

    <input type="submit" value="Add product">

</form>

{{#each add}}
    <div class="errors">{{this}}</div>
{{/each}}
