<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/fonts/icomoon/style.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">
      <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css">
      <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
      <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
      <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
      <link rel="stylesheet" href="/stylesheets/aos.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="/stylesheets/dropzone.css">
      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <script src="/javascripts/bootstrap-datepicker.js"></script>
      <script src="/javascripts/bootstrap-notify.js"></script>
      <script src="/javascripts/dropzone.js"></script>
      <script src="/javascripts/common.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <footer class="site-footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">About Us</h2>
                  <p>airb&b</p>
              </div>
              <div class="col-lg-8 ml-auto">
                  <div class="row">
                      <div class="col-lg-3">
                          <h2 class="footer-heading mb-4">Quick Links</h2>
                          <ul class="list-unstyled">
                              <li><a href="/">Home</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</html>
